<h1>Dashboards</h1>
<ul>
  <li *ngFor="let dashboard of dashboards; trackBy: dashboardIdFn">
    <app-dashboard [dashboard]="dashboard"></app-dashboard>
    <app-selector [key]="'dashboard'" [value]="dashboard.id"></app-selector>
  </li>
</ul>
