<span>
<button pButton type="button"
        icon="pi pi-backward"
        class="ui-button-secondary"
        (click)="moveLeft()"></button>
<button pButton type="button"
        icon="pi pi-user"
        class="ui-button-secondary"
        (click)="toggleLeaderBoard()"></button>
<p-dialog header="LeaderBoard of tickets '{{status}}'" [(visible)]="showLeaderBoard">
  <app-leaderboard-view [statusName]="status"></app-leaderboard-view>
</p-dialog>
</span>
<span>{{status}} {{storyPoints | async}}</span>
<span>
<button pButton
        type="button"
        icon="pi pi-times"
        class="ui-button-secondary"
        (click)="remove()"
        *ngIf="column.isEmpty()"
></button>
<button pButton type="button"
        icon="pi pi-forward"
        class="ui-button-secondary"
        (click)="moveRight()"
></button>
</span>
