<h1>Projects</h1>
<ul>
  <li *ngFor="let project of projects; trackBy: projectIdFn">
    <app-project [project]="project"></app-project>
    <app-selector [key]="'project'" [value]="project.id"></app-selector>
  </li>
</ul>
