$pictureInFocusEdgeSize: 32px;
$pictureEdgeSize: 16px;
$round: 8px;

.icon {
  width: $pictureEdgeSize;
  height: $pictureEdgeSize;
  display: inline;
  opacity: 0.3;
}

.userIcon {
  width: $pictureEdgeSize;
  height: $pictureEdgeSize;
  display: inline;
  opacity: 0.3;
  position: relative;
  border-radius: $round;

  &.assignee {
    opacity: 0.8;
  }
}

p-header {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.ui-card {
  overflow: hidden;
}

.ui-card .ui-card-header {

  &:hover {
    .icon, .userIcon {
      opacity: 1;
      width: $pictureInFocusEdgeSize;
      height: $pictureInFocusEdgeSize;
    }

    font-size: 28px;
  }

  img {
    width: $pictureEdgeSize;
    height: $pictureEdgeSize;
  }
}

.ui-card-body {
  padding-top: 0;
}

.ui-card-content {
  word-break: break-word;
}

