<p-card [header]="ticket.key">
  <p-header>
    <a [href]="navigateExternalLink | async" target="_blank">
      <img [className]="'icon'" [src]="ticket.icon" alt="Issue type icon" [pTooltip]="ticket.type"/>
    </a>
    <img [className]="'icon'" [src]="ticket.priorityIcon" alt="priority" [pTooltip]="ticket.priority"/>
    <span>{{storyPoints}}</span>
    <img [className]="'userIcon'" [src]="ticket.reporter.icon" alt="Reporter" [pTooltip]="ticket.reporter.name"/>
    <img [className]="'userIcon'" [src]="ticket.assignee.icon" alt="Assignee" [pTooltip]="ticket.assignee.name" [class.assignee]="true" />
  </p-header>
  {{ticket.title}}
  <a [routerLink]="['/ticket']" [queryParams]="{q: ticket.key}">&gt;&gt;</a>
</p-card>
