<h2>Auth credentials</h2>
<div class="ui-inputgroup">
  <span class="ui-inputgroup-addon">User name<i class="pi pi-user"></i></span>
  <input type="text" pInputText placeholder="Email" [ngModel]="email" (ngModelChange)="changeEmail($event)">

  <span class="ui-inputgroup-addon">Jira token<i class="pi pi-key"></i></span>
  <input type="text" pInputText placeholder="Token" [ngModel]="token" (ngModelChange)="changeToken($event)">
</div>
<h2>Other settings</h2>
<div class="ui-inputgroup">
  <span class="ui-inputgroup-addon">API call prefix for back-end proxy<i class="pi pi-user"></i></span>
  <input type="text" pInputText placeholder="Server" [ngModel]="prefix" (ngModelChange)="changePrefix($event)">
</div>
<div class="ui-inputgroup">
  <label>
    <span class="ui-inputgroup-addon">Jira instance URL<i class="pi pi-user"></i></span>
    <input type="text" pInputText placeholder="Server" [ngModel]="jiraInstance | async" (ngModelChange)="changeJiraInstance($event)">
  </label>
</div>
