<div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">
        <app-jql-selector
          [selectorKey]="selectorKey"
          (selected)="selectSavedJQL($event)"></app-jql-selector>
      </span>
  <input type="text" pInputText placeholder="JQL" [ngModel]="jql"
         (keydown.enter)="triggerSearch($event)"
         (input)="jqlInputChange($event)"
         [ngClass]="{
              'valid': validJql,
              'invalid': !validJql
             }">
</div>
