<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <app-jql-input [selectorKey]="selectorKey"></app-jql-input>
  </div>
</div>
<div class="ui-g">
  <div>Board with {{ticketCount}} tickets</div>
  <app-board-view [tickets]="tickets"></app-board-view>
</div>
