.flexBoard {
  display: flex;
  flex-flow: wrap;
}

.gridBoard {
  display: grid;
  width: 100%;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.boardHeader {
  width: 100%;
  text-transform: uppercase;
}
