<div class="gridBoard" [style.grid-template-columns]="gridColumnTemplate">
  <app-column-header *ngFor="let status of statuses" class="boardHeader"
       [style.grid-column-start]="status | safeStatus"
                     [status]="status"
  >
  </app-column-header>
  <app-ticket *ngFor="let ticket of tickets; trackBy: ticketKeyFn"
              [ticket]="ticket"
              [style.grid-column-start]="ticket.status.name | safeStatus"></app-ticket>
</div>
