<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <app-jql-input [selectorKey]="selectorKey"></app-jql-input>
  </div>
</div>
<div class="ui-g">
  <div>GANTT chart with {{ticketCount}} tickets</div>
  <ng-template [appEmbedAnchor]></ng-template>
</div>
<div class="ui-g">

</div>
