.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

p-card {
  .img {
    width: auto;
    height: auto;
  }
}

.people {
  display: flex;
  justify-content: flex-start;

  p-card {
    width: 240px;
    padding: 10px;

    .img {
      height: 120px;
      width: 120px;
    }
  }
}

