<div class="ui-inputgroup">
  <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
  <input type="text" pInputText placeholder="Ticket" [(ngModel)]="ticketKey"
         (keypress)="ticketKeyKeypress($event)"
  >
</div>

<ng-container *ngIf="ticket.reporter.id">
  <h1><a [href]="externalLink | async" target="_blank">{{ticket.key}}</a> {{ticket.title}}</h1>
  <p-card subheader="Move to:">
    <p-header>{{ticket.status.description || ticket.status.name}}
      <img [src]="ticket.status.icon" class="img"/>
    </p-header>
    <div class="field">
      <span *ngFor="let transition of transitions">
        <img [src]="transition.icon" alt="Transition icon"/>
        <button pButton class="ui-button-rounded"
                (click)="transitionTo(transition)"
                type="button"
                label="{{transition.name}}"
        ></button>
      </span>
    </div>
  </p-card>
  <div class="people">
    <p-card subheader="Reporter">
      <p-header><img [src]="ticket.reporter.icon" [alt]="ticket.reporter.name" class="img"/></p-header>
      {{ticket.reporter.name}}
    </p-card>
    <p-card subheader="Assignee">
      <p-header><img [src]="ticket.assignee.icon" [alt]="ticket.assignee.name" class="img"/></p-header>
      {{ticket.assignee.name}}
      <button pButton class="ui-button-rounded"
              (click)="assignToMe()"
              type="button"
              label="Assign to me"
      ></button>
    </p-card>
  </div>
  <h2>Description</h2>
  <pre>{{ticket.description.text}}</pre>
  <h2>Fields</h2>
  <div class="fields">
    <app-field *ngFor="let field of fields" [field]="field"></app-field>
  </div>
</ng-container>
