<div class="ui-g-1">
  <button (click)="toggle()" pButton type="button" label="{{label}}"
          class="ui-button-rounded ui-button-secondary"></button>
</div>
<p-dialog header="Pick a query" [(visible)]="opened" [style]="{width: '50vw', height: '50vw', position: 'absolute', top: '25vw'}">
  <div [ngClass]="{query:true}" *ngFor="let jql of jqls;" (click)="clicked($event)">{{jql}}</div>
</p-dialog>
