:host {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .query {
    height: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  div.query:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
