<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-menubar [ngClass]="{'fixed':true}" [model]="menuItems | async"></p-menubar>
<div [ngClass]="{menuPadding:true}" appShowDomChanges>
  <router-outlet></router-outlet>
</div>
<div [ngClass]="{menuPadding:true}">
</div>
