/* You can add global styles to this file, and also import other style files */


.activeMenuItem {
  span {
    text-decoration: underline;
  }
}

.show-highlighted {
  border: solid 1px red;
}

body {
  font-family: Arial, serif;
}
