:host {
  display: block;
  width: 500px;
  height: 500px;

  .podium {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 400px;
    }

    .icon {
      position: absolute;
      opacity: 1;

      img {
        width: 70px;
        height: 70px;
        border-radius: 35px;
      }

      .points {
        margin-top: -47px;
        font-weight: bold;
        font-size: 22px;
        color: whitesmoke;
        position: relative;
        top: 125px;
      }

      &.first {
        top: 82px;
        left: 256px;
      }

      &.second {
        top: 127px;
        left: 160px;
      }

      &.third {
        top: 152px;
        left: 351px;
      }
    }
  }
}
