<div class="podium">
  <img src="../../../assets/images/Podium.png"/>
  <div class="icon first" *ngIf="first" pTooltip="{{first.person.name}}">
    <img [src]="first.person.icon" [alt]="first.person.name"/>
    <p class="points">{{first.points}}</p>
  </div>
  <div class="icon second" *ngIf="second" pTooltip="{{second.person.name}}">
    <img [src]="second.person.icon" [alt]="second.person.name"/>
    <p class="points">{{second.points}}</p>
  </div>
  <div class="icon third" *ngIf="third" pTooltip="{{third.person.name}}">
    <img [src]="third.person.icon" [alt]="third.person.name"/>
    <p class="points">{{third.points}}</p>
  </div>
</div>

